.pagination {
  margin-top: 25px;
  display: inline-flex;
}

.pagination button {
  cursor: pointer;
  color: black;
  float: center;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination button.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}